* {
    margin: 0;
    padding: 0;
}

/*清除列表样式*/
li {
    list-style: none;
}

/*去掉button 默认自带的边框*/
button {
    border: none;
}
/*清除搜索框默认样式*/
input{
    background:none;
    outline:none;
    border:none;
}

/*头部样式*/
header {
    margin: 10px 10px;
    height: 80px;
    width: auto;
    /*border: #c3c3c3 solid 1px;*/
}
.logo {
    float: left;
    margin-right: 60px;
    margin-top: 10px;
}

.nav {
    margin-top: 15px;
    float: left;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: #00b4ff solid 2px;
    color: #00b4ff;
}


/*课程详情页面视频播放窗口*/
video{
    margin:10px 15px;
    height: 500px;
    width: 800px;
    object-fit:fill;
    float: left;
    /*visibility: visible;*/
}
.className{
    float: left;
    width: 200px;
    margin: 20px 30px;
    color: #00B4FF;
}
.classList{
    float: left;
    width: 300px;
    height: 400px;
    margin: 20px 30px;
    border: orange 2px solid;
    overflow: auto;
}
.classList li{
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 20px;
    color: #00b3fe;
}
.classList a{
    color: #050505;
    text-decoration: none;
    font-size: 12px;
    padding-left: 20px;

}
.classList a:hover{
    color: #00B4FF;
    cursor: pointer;
}


.footer {
    height: 250px;
    width: 1200px;
    background: rgba(245, 245, 245, 0.46);
    position: absolute;
    bottom: -600px;
    left: 25px;
}

#logo {
    margin: 25px;
}

.copyRight p {
    font-size: 10px;
    margin-left: 25px;
}

.app {
    line-height: 35px;
    text-align: center;
    color: #00b4ff;
    height: 35px;
    width: 110px;
    margin: 25px;
    border: #00b4ff solid;
}
/*.app:hover{*/
/*    border: #00b4ff solid;*/
/*}*/
.app span {
    color: #222526;
}
a{
    list-style: none;
}
.rightFoot {
    float: left;
    position: absolute;
    top: 10px;
    right: 300px;
}

.rightFoot2 {
    float: left;
    position: absolute;
    top: 10px;
    right: 100px;
}

.rightFoot span {
    line-height: 50px;
}

.rightFoot li {
    font-size: 10px;
    line-height: 20px;
}

.rightFoot2 span {
    line-height: 50px;
}

.rightFoot2 li {
    font-size: 10px;
    line-height: 20px;
}

.footer span:hover{
    color: #00b4ff;
}


